<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCheckServlet</servlet-name>
        <servlet-class>servlets.LoginCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>servlets.AddArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelArticleServlet</servlet-name>
        <servlet-class>servlets.DelArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>servlets.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArticleServlet</servlet-name>
        <servlet-class>servlets.UpdateArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <servlet-class>servlets.UpdateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheckServlet</servlet-name>
        <servlet-class>servlets.RegisterCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUserServlet</servlet-name>
        <servlet-class>servlets.DelUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckServlet</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelArticleServlet</servlet-name>
        <url-pattern>/delArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArticleServlet</servlet-name>
        <url-pattern>/updateArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <url-pattern>/updateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheckServlet</servlet-name>
        <url-pattern>/registerCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUserServlet</servlet-name>
        <url-pattern>/delUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
